
.button {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
}

.radio {
    width: 15px;
    height: 15px;
    margin: 20px 0 0 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.buttonOn {
  margin: 20px 0 0 0px;
}

.buttonOff {
    margin: 20px 0 0 0px;
}


.red {
    margin: 20px 0 0 0px;
    background-color: red;
}


.green {
    margin: 20px 0 0 0px;
    background-color: green;
}

.greenRadio {
    background-color: green;
}

.redRadio{
    background-color: red;
}